$main-button-color: #FCB72B;
$main-font-color: #495567;
$secondry-font-color: #FFFFFF;
$third-font-color: #939CAA;
$body-bg: #F2F2F2;
$footer-bg-color: #333A44;
$line-color: #E5ECF4;
$main-font-family: Space Mono;
$secondary-font-family: Lexend Deca;